<div class="h-100 d-flex w-100" [ngClass]="task.end_date ? 'show-def':'show-hover'" #elementDueDate>
    <span nz-typography class="date-text"
          [class.past-date]="checkForPastDate(task.end_date)"
          [class.soon-date]="checkForSoonDate(task.end_date)">{{task.end_date | dateFormatter}}</span>

  <qeydar-date-picker 
      [(ngModel)]="task.end_date"
      (ngModelChange)="handleEndDateChange($event, task)"
      class="bg-transparent kanban-task-card-due-date date-picker-noicon date-picker-noborder"

      [readOnly]="true"
      [valueFormat]="'date'"
      [calendarType]="'jalali'"
    ></qeydar-date-picker>

</div>
