<nz-space>
  <div *nzSpaceItem>
    <qeydar-date-picker 
        [(ngModel)]="group.start_date"
        (ngModelChange)="handleStartDateChange($event)"
        class="date-picker-noborder"
        
        [valueFormat]="'date'"
        [calendarType]="'jalali'"
      ></qeydar-date-picker>
  </div>
  <div *nzSpaceItem>-</div>
  <div *nzSpaceItem>
    <qeydar-date-picker 
        [(ngModel)]="group.end_date"
        (ngModelChange)="handleEndDateChange($event)"
        class="date-picker-noborder"
        
        [valueFormat]="'date'"
        [calendarType]="'jalali'"
      ></qeydar-date-picker>
  </div>
</nz-space>
