<div *ngIf="task" class="editable h-100 d-flex w-100" #elementDueDate>
  <span nz-typography class="date-text w-100"
        [class.past-date]="checkForPastDate(task.end_date)"
        [class.soon-date]="checkForSoonDate(task.end_date)">{{task.end_date | dateFormatter}}</span>

  <qeydar-date-picker 
    [(ngModel)]="task.end_date"
    (ngModelChange)="handleEndDateChange($event, task)"
    (onOpenChange)="toggleHighlightCls($event, elementDueDate)"
    class="date-picker-width date-picker-noborder task-list-date-picker bg-transparent"

    [valueFormat]="'date'"
    [calendarType]="'jalali'"
  ></qeydar-date-picker>

</div>
