<div *ngIf="task" class="editable d-flex w-100 h-default align-items-center" #elementDueDate>
  <span nz-typography class="date-text w-100"
        [class.past-date]="checkForPastDate(task.end_date)"
        [class.soon-date]="checkForSoonDate(task.end_date)">{{task.end_date | dateFormatter}}</span>

  <qeydar-date-picker 
      class="border-0 bg-transparent date-picker-noicon date-picker-noborder task-list-date-picker"
      [(ngModel)]="task.end_date"
      (ngModelChange)="handleEndDateChange($event, task)"

      [valueFormat]="'date'"
      [calendarType]="'jalali'"
    ></qeydar-date-picker>

</div>
