<nz-space class="align-items-center">
  <qeydar-date-picker 
    [ngModel]="project?.start_date"
    (ngModelChange)="handleStartDateChange($event)"
    class="date-picker-width date-picker-noborder me-0 bg-transparent"

    [valueFormat]="'date'"
    [calendarType]="'jalali'"
  ></qeydar-date-picker>

  <p *nzSpaceItem class="mb-0 me-0">-</p>

  <qeydar-date-picker 
    [ngModel]="project?.end_date"
    (ngModelChange)="handleEndDateChange($event)"
    class="date-picker-width date-picker-noborder me-0 bg-transparent"

    [valueFormat]="'date'"
    [calendarType]="'jalali'"
  ></qeydar-date-picker>
  <ng-template #noIcon></ng-template>
</nz-space>
